@media screen and (max-width: 480px) {
    .footer-top {
        padding-bottom: 10px !important;
    }
}

/* .slick-active {
    max-width: 100px !important;
    margin-right: 25px;
    margin-left: 25px;
} */
